# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/emailManualSend
email_send_data1.js
email_send_data2.js
email_send.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
